<ion-view view-title="<b>{{seed}}</b>in Toronto. ON" class="discover" hide-nav-bar="true">
  <ion-header-bar class="searchbar bar-dark">
    <div class="uprow">
      <button class="button searchBtn"></button>
      <button class="button searchBtn"></button>
      <div class="forLabel">Asian Cuisine{{}}
        <p>in Toronto ON</p>
      </div>
      <button class="button backBtn ion-android-arrow-back" ng-click="backState()"></button>
    </div>
    <div class="downrow">
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div style="background: url('../img/foot.png') no-repeat center"></div>
      <div></div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row foractiveitem">
      <div class="col row-col-first">
      </div>
      <div class="col row-col-center">
        <p>Honeybee Restau...</p>
        <p>2028 Queen St E, Toronto,...</p>
        <p class="forrating"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></p>
      </div>
      <div class="col row-col-last">
        <div class="row-center" style="width:100%; border-bottom: 1px solid gainsboro">
          <span class="row foricon bar-energized ion-ios-telephone"></span>
          <span class="row" style="font-size: 9pt;text-align: center;padding: 0px;padding-left: 40%;">
            Call
          </span>
        </div>
        <div class="row-center"><span class="row foricon bar-energized ion-fork-repo"></span>
          <span class="row" style="font-size: 9pt;text-align: center;padding: 0px;padding-left: 10%;">
            Get Directories
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
