<ion-view class="user" title='<div alt="Brand" class="logoimg"></div>'>

  <ion-content>
    <div class="container">
      <div class="forimg"><img ng-src="{{users.face}}"></div>
      <h4>{{users.owner_name}}</h4>
      <div class="myrow" style="font-size: 12pt;">
        address : {{users.owner_address}}
      </div>
      <div class="myrow" style="font-size: 12pt;">
        email : {{users.owner_email}}
      </div>
      <div class="myrow" style="font-size: 12pt;">
      </div>
      <div class="myrow" style="font-size: 12pt;">
        狀態 : {{users.status}}
      </div>
    </div>
  </ion-content>
</ion-view>
