<link href="css/responsive-calendar.css" rel="stylesheet">
<ion-view title='<img alt="Brand" src="img/header/logo.png" class="logoimg" />'>
  <ion-content class="padding dash">
    <!--<div class="container">
        <div class="row">
            <div width="100%">
                &lt;!&ndash;<h2 style="display:block">????</h2><br>&ndash;&gt;
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="responsive-calendar">
                    <div class="controls" style="display:block;margin-bottom:12px; margin-top: 20px;">
                        <a class="pull-left" data-go="prev"><div class="btn btn-warning" style="background:#F16B1F">Prev</div></a>
                        <div style="font-size:26px;margin-top:10px;margin-bottom:0;padding:0; display:inline"><span data-head-month>January</span> <span data-head-year>2016</span></div>
                        <a class="pull-right" data-go="next"><div class="btn btn-warning" style="background:#F16B1F">Next</div></a>
                    </div>
                    <div class="day-headers days-fixs">
                        <div class="day header">Mon</div>
                        <div class="day header">Tue</div>
                        <div class="day header">Wed</div>
                        <div class="day header">Thu</div>
                        <div class="day header">Fri</div>
                        <div class="day header">Sat</div>
                        <div class="day header">Sun</div>
                    </div>
                    <div class="days" data-group="days">
                        <div ng-repeat="dd in dds" class="day mon past" style="transform: rotateY(0deg); backface-visibility: hidden; transition: -webkit-transform 0.5s ease 0.21s;"><a data-day="{{dd.val}}" data-month="1" data-year="2016">{{dd.val}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; /.row &ndash;&gt;
        <div class="line"></div>
        <script src="js/calendar/responsive-calendar.js"></script>
    </div>
    </div>-->
    <div class="mysubtitle">所有</div>
    <flex-calendar options="options" events="events"></flex-calendar>
  </ion-content>
</ion-view>
